.container-about {
  width: 100%;
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-around;
  
}

.container-text {
  display: flex;
  justify-content: center;
  background-color: #023e8a;
  width: 50%;
  border-radius: 10px;
  border-color: #9e0059;
  border-style: double;

}

.text-about {
  font-size: 28px;
  color: #ade8f4;
  font-family: sans-serif ;
  width: 90%;
}

.container-img {
  display: flex;
  justify-content: center;
  background-color: #023e8a;
  border-color: white;
  padding: 20px;
  border-radius: 10px;
  border-color: #9e0059;
  border-style: double;
}

.image-about {
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.title-contact {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #ade8f4;
  font-family: Helvetica neue;
}

.container-contact {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img-contact {
  width: 50px;
  background: #023e8a;
  padding: 10px;
  border-radius: 10px;
}

.skill {
  font-size: 35px;
  color: #ade8f4;
  font-family: helvetica;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.skill-containers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  
}

.skill-containers2 {
  display: flex;
  justify-content: space-evenly;
  
}

.icons-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  
}

.skill-img {
  width: 100px;
  height: 100px;
}

.skill-name {
  color: #fbf5f3;
}
